table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgb(135, 246, 246);
}

.filterProducts {
    margin: auto;
    justify-content: center;
    align-items: center;
}
